<template>
  <div id="app">
    <h1>{{ message }}</h1>
    <input v-model="todo_input">
    <button @click="clicked">Todo add</button>
    <ul>
      <todo_item v-for="item in sharedState.todos" key="item.id" :todo_item="item"></todo_item>
    </ul>
  </div>
</template>

<script>
import todo_item from './todo_item.vue'


export default {
  created () {
    this.fetchTodos()
  },
  data () {
    return {
      message: 'Todo App',
    }
  },
  computed: {
    sharedState () {
      return this.$store.state
    }
  },
  methods: {
    clicked: function() {
      console.log("button clicked!")
      if (this.todo_input != '') {
        this.postTodo()
      } else {
        alert("何も入力されてません！")
      }
    },
    fetchTodos() {
      this.$store.dispatch('fetchTodos')
    },
    postTodo() {
      var todo = {
        title: this.sharedState.todo_input,
        completed: false
      }
      this.$store.dispatch('postTodo', todo)
    }
  },
  components: { todo_item }
}
</script>