<template>
  <li>
    <span
      @click="complete(todo_item.id)"
      :class="{ completed: todo_item.completed }">
      {{ todo_item.title }}
    </span>
    <button @click="deleteTodo(todo_item.id)">Delete</button>
  </li>
</template>

<script>

import app from './todo_app.vue'
export default {
  props: ['todo_item'],
  methods: {
    complete: function(index) {
      var todo_update = {
        "todo": {
          "completed": !this.todo_item.completed
        }
      }
      this.$store.dispatch('postTodo', this.todo_item.id, todo_update)
    },
    deleteTodo: function(index) {
      console.log("delete clicked!" + index)
      if (window.confirm('削除していいですか？')) {
        this.$store.dispatch('deleteTodo', this.todo_item)
      }
    }
  }
}
</script>

<style scoped>
.completed {
  color: #ccc;
  text-decoration: line-through;
}
</style>