<template>
  <li>
    <span
      @click="complete(todo_item.id)"
      :class="{ completed: todo_item.completed }">
      {{ todo_item.title }}
    </span>
    <button @click="deleteTodo(todo_item.id)">Delete</button>
  </li>
</template>

<script>
import axios from 'axios'
import app from './todo_app.vue'
export default {
    props: ['todo_item'],
    methods: {
      complete: function(index) {
        var todo_update = {
          "todo": {
            "completed": !this.todo_item.completed
          }
        }
        axios.put('/api/v1/todos/' + this.todo_item.id, todo_update)
          .then(res => {
            this.$parent.fetchTodos()
          })
          .catch(error => {
            throw error
          })
      },
      deleteTodo: function(index) {
        console.log("delete clicked!" + index)
        if (window.confirm('削除していいですか？')) {
          axios.delete('/api/v1/todos/' + this.todo_item.id, { "todo": 
            { "completed": !this.todo_item.completed } })
            .then(res => {
              this.$parent.fetchTodos()
            })
            .catch(error => {
              throw error
            })
        }
      }
    }
}
</script>

<style scoped>
.completed {
  color: #ccc;
  text-decoration: line-through;
}
</style>