<template>
  <div id="app">
    <h1>{{ message }}</h1>
    <input v-model="todo_input">
    <button @click="clicked">Todo add</button>
    <ul>
      <todo_item v-for="item in todos" key="item.id" :todo_item="item"></todo_item>
    </ul>
  </div>
</template>

<script>
import todo_item from './todo_item.vue'
import axios from 'axios'
export default {
  created () {
    this.fetchTodos()
  },
  data () {
    return {
      message: 'Todo App',
      todo_input: "",
      todos: [],
    }
  },
  methods: {
    clicked: function() {
      console.log("button clicked!")
      if (this.todo_input != '') {
        this.postTodo()
      } else {
        alert("何も入力されてません！")
      }
    },
    fetchTodos: function() {
      axios.get('./api/v1/todos')
        .then(res => {
          this.todos = res.data
        })
        .catch(error => {
          throw error
        })
    },
    postTodo: function() {
      var todo = {
        title: this.todo_input,
        completed: false
      }
      axios.post('/api/v1/todos', todo)
        .then(res => {
          this.todo_input = '',
          this.fetchTodos()
        })
        .catch(error => {
          throw error
        })
    },
  },
  components: { todo_item }
}
</script>